body {
    overflow-x: hidden;
    background-color:rgb(72, 75, 81);
}
/* ::-webkit-scrollbar {width: 0px; background: transparent;} */
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}
::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
#titleBar {
    background-color: rgb(32, 34, 37);
    color: rgb(114, 118, 125);
    font-weight:bold;
    -webkit-app-region: drag
}
.button {
    padding-left: 6px;
}
.button:hover {
    cursor: pointer;
}
#minimizeButton:hover, #maximizeButton:hover, #exitButton:hover, #pullGitButton:hover, #pushGitButton:hover {
    color:white
}
#exitButton:hover {
    background-color: rgb(240, 71, 71)
}

.mangaColumn {
    background-color: rgb(47, 49, 54);
    overflow-y:auto;
    padding-right:0;
    cursor: context-menu
}
.mangaColumn li:hover:not(.header), .pendingColumn li:hover:not(.header) {
    background-color: #eee;
}
.pendingColumn {
    background-color:rgb(72, 75, 81);
    overflow-y:auto;
    overflow-x:hidden;
    padding-left: 0;
    cursor: context-menu;
    padding-right: 0px
    /*  */
}
#gitInfoField {
    /* background-color: rgb(47, 49, 54); */
    color: rgb(179, 180, 183);
}
#secondRow {
    padding-right: 14px
}
.pendingEntryField{
    padding-right: 20px;
}
#Mangalist, #Pendinglist{
    padding-left: 0;
    list-style-type: none;
    margin: 0;
    background-color: rgb(47, 49, 54);
    color: rgb(114, 118, 125);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#Trashlist {
    padding-left: 0;
    padding-right: 20px;
    list-style-type: none;
    margin: 0;
    color: rgb(167, 174, 187);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#Pendinglist {
    overflow-x:hidden;
    word-wrap:break-word
}
#rightColumnDeleteMode {
    display: none;
    color: rgb(167, 174, 187);
    overflow-y: auto;
}
#mangaInput, #pendingInput {
    width:100%;
    padding-right: 0%;
    background-color: rgb(72, 75, 81);
    border-color: rgb(72, 75, 81);
    border:0px;
    color: rgb(179, 180, 183);}
#mangaInput:focus, #pendingInput:focus {
    outline: none
}

@keyframes flashing-text {
    0% {color: red;}
    50% {color: rgb(179, 180, 183);}
    100% {color: red;}
}
#notSavedAlert  {
    font-weight: bold;
    animation-name: flashing-text;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
  }
  
  /* Modal Content */
.modal-content {
    position: fixed;
    bottom: 0;
    background-color: #fefefe;
    width: 100%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
}

.modal-body {
    padding: 0px 14px;
}

/* Add Animation */
@-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0} 
    to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}

.dataRow {
    background-color: rgb(47, 49, 54);
    color: rgb(114, 118, 125)
}

#titleBar {
    background-color: rgb(32, 34, 37);
    color: rgb(114, 118, 125);
    font-weight:bold;
}
.inputBox, #status {
    background-color: rgb(72, 75, 81);
    border-color: rgb(72, 75, 81);
    border:0px;
    color: rgb(179, 180, 183);
}
.inputBox:focus, #status:focus {
    outline: none
}
#title, #volume, #chapter, #status, #author, #notes {
    width: 100%
}
.label {
    max-width: 100px
}